.feed-formatter-web-container { 
	padding: 15px 10px 0 15px;
}
.feed-formatter-web-feed-item-container {
	margin-top: 15px;
}
.feed-formatter-web-container img {
	margin: 5px;
}
.feed-formatter-web-container p {
	margin-bottom: 5px;
}
.feed-formatter-web-feed-title .feed-formatter-web-feed-field-title,
.feed-formatter-web-feed-description .feed-formatter-web-feed-field-title,
.feed-formatter-web-feed-link .feed-formatter-web-feed-field-title,
.feed-formatter-web-feed-item-title .feed-formatter-web-feed-item-field-title,
.feed-formatter-web-feed-item-description .feed-formatter-web-item-feed-field-title,
.feed-formatter-web-feed-item-link .feed-formatter-web-feed-item-field-title {
  display: inline;
}
.feed-formatter-web-feed-title {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
}
.feed-formatter-web-feed-item-title {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}
.feed-formatter-web-feed-item-container .feed-formatter-web-feed-item {
	padding: 10px;
  border: 1px solid #b1b1b1;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
}
.feed-formatter-web-feed-title .feed-formatter-web-feed-field-title,
.feed-formatter-web-feed-description .feed-formatter-web-feed-field-title,
.feed-formatter-web-feed-item-title .feed-formatter-web-feed-item-field-title,
.feed-formatter-web-feed-item-description .feed-formatter-web-feed-item-field-title {
  display: none;
}
.feed-formatter-web-feed-field-title,
.feed-formatter-web-feed-field-content,
.feed-formatter-web-feed-field-content .feed-field-text,
.feed-formatter-web-feed-item-field-title,
.feed-formatter-web-feed-item-field-content,
.feed-formatter-web-feed-item-field-content .feed-item-field-text {
	display: inline;
}

/* PAGINATION */
.feed-formatter-web-feed-pagination {
	padding-left: 0 !important;
	margin: 1em 0 !important;
}
.feed-formatter-web-feed-pagination li {
	background: none !important;
	padding-left: 0 !important;
	display: inline;
}
/* END PAGINATION */

/*
feed-formatter-web-container
  feed-formatter-web-feed-field
    feed-formatter-web-feed-title
    feed-formatter-web-feed-description
    feed-formatter-web-feed-link
  feed-formatter-web-feed-field-title

feed-formatter-web-feed-field-container
  feed-formatter-web-feed-field
    feed-formatter-web-feed-field-title
    feed-formatter-web-feed-field-content

feed-formatter-web-feed-item-container
  feed-formatter-web-feed-item
	  feed-formatter-web-feed-item-field
      feed-formatter-web-feed-item-title
      feed-formatter-web-feed-item-description
      feed-formatter-web-feed-item-link
    feed-formatter-web-feed-item-field-title
	
	  feed-formatter-web-feed-item-field-container
	    feed-formatter-web-feed-item-field
	      feed-formatter-web-feed-item-field-title
	      feed-formatter-web-feed-item-field-content
*/